<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ subtitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar showcancelbutton="" (ionInput)="search($event)"></ion-searchbar>
    <ion-list>
      <ion-list-header>
        <h2>{{title}}</h2>
      </ion-list-header>

      <ion-item *ngFor="let r of rentalAds | async" >
        <ion-label (click)="update(r)">
          <h2>{{ r.title }}</h2>
          <h3>Ubicación: {{ r.address }}</h3>
          <p>Precio al mes: $ {{ r.price }}</p>
          <p>Contactarse con: {{ r.phoneContact }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="create()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
